@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de olvido de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Porfa vor revise su correo electrónico para restaurar su contraseña.
</p>

