@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta ha sido bloqueada. Contacte a su administrador o intente más tarde.</p>
</header>
