@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de reconfiguración de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
   Su password ha sido reconfigurado. Por favor haga click <a asp-page="./Login">aqui para loguearse.</a>.
</p>
