@page
@model CronosegAccess.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Usuario</h1>

<div class="row">
    <div class="col-md-4 card pt-2">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="user.idUser" />
            <div class="form-group">
                <label asp-for="user.Uid" class="control-label"></label>
                <input asp-for="user.Uid" class="form-control" />
                <span asp-validation-for="user.Uid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.FirstName" class="control-label"></label>
                <input asp-for="user.FirstName" class="form-control" />
                <span asp-validation-for="user.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.LastName" class="control-label"></label>
                <input asp-for="user.LastName" class="form-control" />
                <span asp-validation-for="user.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.dateIni" class="control-label"></label>
                <input asp-for="user.dateIni" class="form-control" />
                <span asp-validation-for="user.dateIni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.dateEnd" class="control-label"></label>
                <input asp-for="user.dateEnd" class="form-control" />
                <span asp-validation-for="user.dateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                foreach (var zone in Model.AssignedZoneDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedZones"
                                               value="@zone.idZone"
                                               @(Html.Raw(zone.Assigned ? "checked=\"checked\"" : "")) />
                                        @zone.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
